{% extends 'base.html.twig' %}

{% block body %}
   <!-- Navigation -->
  {% include('navbar.html.twig') %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-letf">
      	<h3>List users</h3>
        <table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Description</th>
		      <th scope="col">Users/Role</th>
		      <th scope="col">Edit</th>
		      <th scope="col">Delete</th>
		    </tr>
		  </thead>
		  <tbody>

	        {% for key,value in values['organizations'] %}
	        	
	        	<tr>
			      <td>{{ value.name }}</td>
			      <td>{{ value.description }}</td>
			      <td>
			      	{% for user in value.users %}
			      		{{ user.name }} - {{ user.role[0] }}  <br>
 			      	{% endfor %}

			      </td>
			      <td><a href="/edit/{{ key  }}"><img src="/img/edit.png" border=0></a></td>
			      <td><a href="/delete/{{ key }}"><img src="/img/delete_2.png" border=0></a></td>
			    </tr>
			    

	        {% endfor %}

		  </tbody>
		</table>
        
      </div>
    </div>
  </div>

{% endblock %}